.loginBackground {
	height: 100vh;
	background: linear-gradient(
		135deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);

	.loginContainer {
		width: 400px;
		height: 450px;
		margin: auto;
		background-color: white;
		border-radius: 10px;

		.loginContent {
			padding: 10px;

			.textLogin {
				font-weight: 600;
				text-align: center;
				font-size: 24px;
				padding-top: 10px;
			}

			.login-input {
				margin: 10px 0;
			}

			.btn-login {
				width: 100%;
				margin: 10px 0;
				height: 30px;
				border-radius: 15px;
				outline: none;
				border: none;
				color: white;

				background: linear-gradient(
					135deg,
					rgba(34, 193, 195, 1) 0%,
					rgba(253, 187, 45, 1) 100%
				);
			}

			.forgot-password {
				font-size: 12px;
			}

			.social-login {
				display: flex;
				justify-content: space-around;

				i {
					margin-top: 20px;
					display: flex;
				}
				.google {
					font-size: 30px;
					background-color: #c32424;
					border-radius: 50%;
					height: 50px;
					width: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
				}

				.facebook {
					font-size: 30px;
					background-color: #307aff;
					border-radius: 50%;
					height: 50px;
					width: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					padding: 0 20px;
				}

				.github {
					font-size: 50px;
					height: 50px;
					width: 50px;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}
